{% extends 'liste.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block h1 %}Liste de toutes les entreprises{% endblock %}

{% block elements %}
	{# génération des éléments à partir de la bdd #}
	<li class="list-group-item">Entreprise 1</li>
	<li class="list-group-item">Entreprise 2</li>
  	<li class="list-group-item">Entreprise 3</li>
  	<li class="list-group-item">Entreprise 4</li>
{% endblock %}

{% block boutons %}<a class="btn btn-primary" href="/" role="button">Accueil</a>{% endblock %}
