{% extends 'liste.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block h1 %}Liste de toutes les entreprises{% endblock %}

{% block liste %}{% endblock %}

{% block boutons %}<a href="/"><button type="button">Accueil</button></a>{% endblock %}