{% extends 'liste.html.twig' %}

{% block title %}Formations{% endblock %}

{% block h1 %}Liste de toutes les formations{% endblock %}

{% block liste %}
	{# Affichage de la liste des formations #}
{% endblock %}

{% block boutons %}<a href="/"><button type="button">Accueil</button></a>{% endblock %}