{% extends 'liste.html.twig' %}

{% block title %}Formations{% endblock %}

{% block h1 %}Liste de toutes les formations{% endblock %}

{% block elements %}
	{# génération des éléments à partir de la bdd #}
{% endblock %}

{% block boutons %}<a href="/"><button type="button">Accueil</button></a>{% endblock %}