{% extends 'liste.html.twig' %}

{% block title %}Formations{% endblock %}

{% block h1 %}Liste de toutes les formations{% endblock %}

{% block elements %}
	{# génération des éléments à partir de la bdd #}
	<li class="list-group-item">Formation 1</li>
	<li class="list-group-item">Formation 2</li>
  	<li class="list-group-item">Formation 3</li>
  	<li class="list-group-item">Formation 4</li>
{% endblock %}

{% block boutons %}<a class="btn btn-primary" href="/" role="button">Accueil</a>{% endblock %}
