{% extends 'liste.html.twig' %}

{% block title %}Formations{% endblock %}

{% block h1 %}Liste de toutes les formations{% endblock %}

{% block elements %}

	{# génération des éléments à partir de la bdd #}
	{% for formation in formations %}
		<li class="list-group-item">
			<a href="{{path('pro_stage_stages_par_formation', {nomFormation:formation.nom})}}">
				{{formation.nom}}
			</a>
		</li>
	{% endfor %}

{% endblock %}

{% block boutons %}<a class="btn btn-primary" href="{{path('pro_stage_accueil')}}" role="button">Accueil</a>{% endblock %}
