{% extends 'liste.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}Liste de tous les stages{% endblock %}

{% block elements %}
	{# Affichage des stages à partir de la bdd #}
	<li class="list-group-item">Stage 1</li>
	<li class="list-group-item">Stage 2</li>
	<li class="list-group-item">Stage 3</li>
	<li class="list-group-item">Stage 4</li>
	<li class="list-group-item">Stage 5</li>
	<li class="list-group-item">Stage 6</li>
	<li class="list-group-item">Stage 7</li>
	<li class="list-group-item">Stage 8</li>
	<li class="list-group-item">Stage 9</li>
{% endblock %}

{% block boutons %}
	<a class="btn btn-primary" href="entreprises" role="button">Filtrer par entreprise</a>
	<a class="btn btn-primary" href="formations" role="button">Filtrer par formation</a>
{% endblock %}


