{% extends 'liste.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}Liste de tous les stages{% endblock %}

{% block elements %}
	{# Affichage des stages à partir de la bdd #}
{% endblock %}

{% block boutons %}
<div id="boutons">
	<a href="entreprises"><button type="button">Filtrer par entreprise</button></a>
	<a href="formations"><button type="button">Filtrer par formation</button></a>
</div>
{% endblock %}


