{% extends 'base.html.twig' %}

{% block title %}Liste des stages{% endblock %}

{% block body %}
<div>
	<div id="tabStages">
		
	</div>
	<div id="boutons">
		<a href="entreprises"><button type="button">Filtrer par entreprise</button></a>
		<a href="formations"><button type="button">Filtrer par formation</button></a>
	</div>
</div>
{% endblock %}
