{% extends 'liste.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}Liste de tous les stages{% endblock %}

{% block boutons %}
	<a class="btn btn-primary" href="entreprises" role="button">Liste des entreprises</a>
	<a class="btn btn-primary" href="formations" role="button">Liste des formations</a>
{% endblock %}

{% block elements %}
	{# Affichage des stages à partir de la bdd #}
	{% for stage in stages %}
		<a href="{{ '/stages/' ~ stage.id }}"><li class="list-group-item">Stage {{stage.id}}</li></a>
	{% endfor %}
{% endblock %}