{% extends 'liste.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}Liste de tous les stages{% endblock %}

{% block accueilActif %}active{% endblock %}

{% block elements %}
	{# Affichage des stages à partir de la bdd #}
	<li class="list-group-item">
	{% for stage in stages %}
		<div class="row">
			<div class="col-md-6">
				<a href="{{path('pro_stage_stages', {id:stage.id})}}">Stage {{stage.id ~ '  ' ~ stage.nom}}</a>
			</div>
			<div class="col-md-6">
				{{stage.entreprise.nom}}
			</div>
		</div>
	{% endfor %}
	</li>
{% endblock %}
