{% extends 'liste.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block h1 %}Liste de tous les stages{% endblock %}

{% block elements %}
	{# Affichage des stages à partir de la bdd #}
	{% for i in 1..9 %}
		<a href="{{ '/stages/' ~ i }}"><li class="list-group-item">Stage {{i}}</li></a>
	{% endfor %}
{% endblock %}

{% block boutons %}
	<a class="btn btn-primary" href="entreprises" role="button">Filtrer par entreprise</a>
	<a class="btn btn-primary" href="formations" role="button">Filtrer par formation</a>
{% endblock %}


