{% extends 'base.html.twig' %}

{% block body %}
	<h1>Cette page affichera le descriptif du stage ayant pour identifiant {{ idStage }}</h1>
	<div id="titre">
		{# Titre et entreprise #}
	</div>
	<div>
		<div id="infos">
			
		</div>
		<div id="description">
			
		</div>
		<div id="accueil">
			
		</div>
	</div>
{% endblock %}