{% extends 'base.html.twig' %}

{% block body %}
	<h1>{% block h1 %}{% endblock %}</h1>

	<div class="list-group">
		{% block elements %}{% endblock %}
	</div>

	{% block boutons %}{% endblock %}
{% endblock %}