{% extends 'base.html.twig' %}

{% block title %}Détails du stage{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			<h1>{% block nomStage %}{% endblock %}</h1>
			<h2>{% block entrepriseStage %}{% endblock %}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<li class="list-group-item">{% block email %}{% endblock %}</li>
				<li class="list-group-item">{% block Contact %}{% endblock %}</li>
			</div>
		</div>

		<div class="col-md-6">
			{% block description %}{% endblock %}
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-primary" href="/" role="button">Accueil</a>
		</div>
	</div>
{% endblock %}