{% extends 'base.html.twig' %}

{% block title %}Détails du stage{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-12">
			{% block nomStage %}{% endblock %}
			{% block entrepriseStage %}{% endblock %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{% block coordonnees %}{% endblock %}
		</div>
		<div class="col-md-6">
			{% block description %}{% endblock %}
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<a href="/"><button type="button">Accueil</button></a>
		</div>
	</div>
{% endblock %}